<% if(textErr) {%>
	<p class="errormess text"><%=textErr%></p>
<%} %>
<% if(!textErr) {%>
	<% if(kpi.length != 0) {%>
	<table style="width: 60%; margin: 20px 5px 20px 0px;">
		<tr>
			<td><h4>Дата</h4></td>
			<td><h4>ПЭД</h4></td>
			<td><h4>Значение</h4></td>
			<td><h4>Текст</h4></td>
			<td><h4>Файл</h4></td>
			<td><h4>Отметить, как неверные</h4></td>
			<td><h4>Комментарий</h4></td>
		</tr>
		<% for(let i = 0; i < kpi.length; i++) {%>
			<tr id=<%="tr" + i %>>
				<input type="hidden" id=<%="hd" + i %> name="hidd" value=<%=kpi[i].id%>>
				<input type="hidden" id=<%="kpi" + i %>  value=<%=kpi[i].name_kpi%>>
				<td><%=kpi[i].modifydate %></td>
				<% if(kpi[i].type == 1) {%>
					<td><%=kpi[i].name_kpi %></td>
				<%} %>
				<% if(kpi[i].type == 2) {%>
					<td><%=(kpi[i].name_kpi + " (" + kpi[i].description + ")")%></td>
				<%} %>
				<td><%=kpi[i].value %></td>
				<td><%=kpi[i].text %></td>
				<% if(kpi[i].file) {%>
					<td><a href=<%="/upload_file?file="+kpi[i].id %> download=""><img src="/img/download.png" alt="Скачать файл"></a></td>
				<%} %>
				<% if(!kpi[i].file) {%>
					<td></td>
				<%} %>
				<td><input type="checkbox" name="checkbox" value=<%=i + ""%>></td>
				<td><input type="text" name="comment" class="text" id=<%="comm" + i%>></td>
			</tr>
		<%} %>
	</table>
	<%} %>
	<% if(kpi.length == 0) {%>
		<p class="errormess formborder" style="color:red">Нет отмеченных ПЭД</p>
	<%} %>
	<% if(kpi.length != 0) {%>
		<button id="incorrect" class="buttonmypage">Подтвердить неверные ПЭД</button>
	<%} %>
<%} %>