<!DOCTYPE html>
<html>
<head>
	<title>Сотрудники</title>
	<%- include("../common/head.ejs")%>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<%- include("../common/menu.ejs") %>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="content container-fluid">
			<h2>Список пользователей</h2>
			<hr>
			<div class="table-filters form-group row">
				<div class="col-sm d-flex">
					<img src="/img/icons/search.svg" alt="поиск" title="поиск" width="28px">
					<input type="text" class="form-control ml-sm-3" placeholder="Поиск по ФИО">
				</div>
			</div>
			<div class="table-responsive-md">
				<table class="table border-color-f">
					<thead>
						<tr>
							<th class="text-center" scope="col">ФИО</th>
							<th class="text-center" scope="col">Логин</th>
							<th class="text-center" scope="col">Роль</th>
							<th class="text-center" scope="col">Должность</th>
							<th class="text-center" scope="col">Факультет</th>
							<th class="text-center" scope="col">Кафедра</th>
							<% if(infoUser.rights.indexOf("delete_user") !== -1 || infoUser.rights.indexOf("change_user") !== -1) {%>
								<th class="text-center" scope="col">Действия</th>
							<%}%>
						</tr>
					</thead>
					<tbody>
						<% for(let i = 0; i < users.length; i ++) {%>
							<tr class="table-data">
								<th class="text-center" scope="row"><%=users[i].name %></th>
								<td class="text-center"><%=users[i].login %></td>
								<td class="text-center"><%=users[i].role %></td>
								<td class="text-center"><%=users[i].position %></td>
								<td class="text-center"><%=users[i].faculty %></td>
								<td class="text-center"><%=users[i].department %></td>
								<% if(infoUser.rights.indexOf("delete_user") !== -1 ||
										infoUser.rights.indexOf("change_user") !== -1) {%>
									<td class="text-center align-middle">
										<% if(infoUser.rights.indexOf("change_user") !== -1) {%>
											<a href="change-users/change-user?login=<%=users[i].login%>" class="change-user" data-login="<%=users[i].login%>"><img src="/img/icons/pencil.svg" alt="изменить" title="изменить" width="28px"></a>
										<%}%>
										<% if(infoUser.rights.indexOf("delete_user") !== -1) {%>
											<a href="#" class="delete-user" data-login="<%=users[i].login%>"><img src="/img/icons/trash.svg" alt="удалить" title="удалить" width="28px"></a>
										<%}%>
									</td>
								<%}%>
							</tr>
						<%} %>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<div class="footer mt-auto py-3">
		<%- include("../common/footer.ejs") %>
	</div>
	<%- include("../common/modal.ejs") %>
	<%- include("../common/modal-confirm.ejs") %>

	<%- include("../common/scripts.ejs")%>
	<script type="text/javascript" src="/scripts/filter-table-by-th.js"></script>
	<script type="text/javascript" src="/scripts/change-users/actions.js"></script>

</body>
</html>