<!DOCTYPE html>
<html>
<head>
	<title>Структура</title>
	<%- include("../common/head.ejs")%>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<%- include("../common/menu.ejs") %>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="content container-fluid">
			<h2>Кафедры и факультеты университета</h2>
			<hr>
			<div class="table-responsive-md">
				<table class="table border-color-f">
					<thead>
						<tr>
							<th scope="col" class="text-center">Факультет</th>
							<th scope="col" class="text-center">Кафедра</th>
						</tr>
					</thead>
					<tbody>
						<% for (faculty in structure) {%>
							<tr>
								<th class="text-center align-middle" scope="row" rowspan="<%=structure[faculty].length%>"><%=faculty %></th>
								<td class="text-center"><%=structure[faculty][0] %></td>
							</tr>
							<% for (let i = 1; i < structure[faculty].length; i++) {%>
								<tr>
									<td class="text-center"><%=structure[faculty][i] %></td>
								</tr>
							<%} %>
						<%} %>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<div class="footer mt-auto py-3">
		<%- include("../common/footer.ejs") %>
	</div>

	<%- include("../common/scripts.ejs")%>

</body>
</html>