<!DOCTYPE html>
<html>
<head>
	<title>Структура</title>
	<%- include("../common/head.ejs")%>
</head>
<body>
	<%- include("../common/menu.ejs") %>
	<div class="wrapper">
		<div class="content container-fluid">
			<h1>Роли системы и их права</h1>
			<hr>
			<div class="table-responsive-md">
				<table class="table border-color-f">
					<thead>
						<tr>
							<th class="text-center align-middle" scope="col">Роль</th>
							<th class="text-center align-middle" scope="col">Право</th>
						</tr>
					</thead>
					<tbody>
						<% for (role in roles) {%>
							<tr>
								<th class="text-center align-middle" scope="row" rowspan="<%=roles[role].length%>"><%=role %></th>
								<td class="text-center align-middle"><%=roles[role][0] %></td>
							</tr>
							<% for (let i = 1; i < roles[role].length; i++) {%>
								<tr>
									<td class="text-center align-middle"><%=roles[role][i] %></td>
								</tr>
							<%} %>
						<%} %>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="footer">
			<%- include("../common/footer.ejs") %>
		</div>
	</div>

	<%- include("../common/scripts.ejs")%>

</body>
</html>