<!DOCTYPE html>
<html>
<head>
	<title>Значения ПЭД</title>
	<%- include("../common/head.ejs")%>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<%- include("../common/menu.ejs") %>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="content container-fluid">
			<h2>Значения Показателей эффективности деятельности</h2>
			<hr>
			<h5 class="mb-sm-3">Показаны значения, действительные на период<% if(period.name_period) {%>
				<%=' "' + period.name_period + '": '%>
				<%}%>
				с <%=period.dateStart%> по <%=period.dateFinish%></h5>

			<% if(marks.length != 0) {%>
				<div class="table-filters form-group row">
					<div class="col-sm d-flex">
						<img src="/img/icons/search.svg" alt="поиск" title="поиск" width="28px">
						<input type="text" class="form-control ml-sm-3" placeholder="Поиск по логину">
					</div>
				</div>
				<div class="table-responsive-md">
					<table class="table border-color-f">
						<thead>
							<tr>
								<th class="text-center" scope="col">Дата добавления</th>
								<th class="text-center" scope="col">Логин сотрудника</th>
								<th class="text-center" scope="col">ПЭД</th>
								<th class="text-center" scope="col">Значение</th>
								<th class="text-center" scope="col">Дата начала действия</th>
								<th class="text-center" scope="col">Дата окончания действия</th>
								<th class="text-center" scope="col">Статус</th>
								<th class="text-center" scope="col">Автор проверки</th>
							</tr>
						</thead>
						<tbody>
							<% for(let i = 0; i < marks.length; i++) {%>
								<tr class="table-data">
									<td class="text-center"><%=marks[i].date_str %></td>
									<th class="text-center"><%=marks[i].login_user %></th>
									<td class="text-center"><%=marks[i].name_kpi %></td>
									<td class="text-center"><%=marks[i].value %></td>
									<td class="text-center"><%=marks[i].start_date_str %></td>
									<td class="text-center"><%=marks[i].finish_date_str %></td>
									<% if(!marks[i].valid) {%>
										<td class="text-center text-danger">Недействительно</td>
										<td class="text-center"><%=marks[i].author_verify %></td>
									<%} %>
									<% if(marks[i].valid) {%>
										<td class="text-center text-success">Выполнено</td>
										<td class="text-center"></td>
									<%} %>
								</tr>
							<%} %>
						</tbody>
					</table>
				</div>
			<%}%>
			<% if(marks.length == 0) {%>
			<p class="text-warning">Нет добавленных значений ПЭД</p>
			<%}%>
		</div>
	</main>

	<div class="footer mt-auto py-3">
		<%- include("../common/footer.ejs") %>
	</div>

	<%- include("../common/scripts.ejs")%>
	<script type="text/javascript" src="/scripts/filter-table-by-th.js"></script>

</body>
</html>