<!DOCTYPE html>
<html>
<head>
	<title>Структура</title>
	<%- include("../common/head.ejs")%>
</head>
<body>
	<%- include("../common/menu.ejs") %>
	<div class="wrapper">
		<div class="content container-fluid">
			<h1>Кафедры и факультеты университета</h1>
			<div class="table-responsive-md">
				<table class="table border-color-f">
					<thead>
						<tr>
							<th scope="col">Факультет</th>
							<th scope="col">Кафедра</th>
						</tr>
					</thead>
					<tbody>
						<% for (faculty in structure) {%>
							<tr>
								<th scope="row" rowspan="<%=structure[faculty].length%>"><%=faculty %></th>
								<td><%=structure[faculty][0] %></td>
							</tr>
							<% for (let i = 1; i < structure[faculty].length; i++) {%>
								<tr>
									<td><%=structure[faculty][i] %></td>
								</tr>
							<%} %>
						<%} %>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="footer">
			<%- include("../common/footer.ejs") %>
		</div>
	</div>

	<%- include("../common/scripts.ejs")%>

</body>
</html>