<!DOCTYPE html>
<html>
<head>
	<title>История действий</title>
	<%- include("partials/head.ejs")%>
	<link rel="stylesheet" type="text/css" href="logs.css">
</head>
<body>
	<div class="wrapper">
		<%- include("partials/menu.ejs") %>
		<div class="content">
			<form action="" method="get">
				<p class="namelist">История действий пользователей за
					<input type="date" name="date" id="date" class="date" value=<%=date%>>
					<input type="submit" class="buttonmypage" value="Показать">
				</p>
			</form>
			<ul class="logs" id="logs">
				<%- include("partials/list_logs.ejs") %>
			</ul>
		</div>
		
		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
	</div>

	<%- include("partials/scripts.ejs")%>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>