<nav class="navbar navbar-expand-lg navbar-dark mb-md-3" style="background-color: #561C75;">
	<a class="navbar-brand ml-md-4" href="/my-page"><%=login%></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<% if(level < 3) {%>
				<li class="nav-item">
					<a class="nav-link <%if (pageName == "/my-page") {%><%='active'%><%}%>" href="/my-page">Вычислить оценки <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%if (pageName == "/my-page/edit-kpi") {%><%='active'%><%}%>" href="/my-page/edit-kpi">Отметить выполнение</a>
				</li>
				<li class="nav-item">
					<a class="nav-link <%if (pageName == "/my-page/values-kpi") {%><%='active'%><%}%>" href="/my-page/values-kpi">Список выполненных ПЭД</a>
				</li>
			<%} %>
			<% if(level !== 0) {%>
				<li class="nav-item">
					<a class="nav-link <%if (pageName == "/verify") {%><%='active'%><%}%>" href="/verify">Проверить ПЭД ППС</a>
				</li>
			<%} %>
			<li class="nav-item">
				<a class="nav-link <%if (pageName == "/my-page/settings") {%><%='active'%><%}%>" href="/my-page/settings">Настройки</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0 mr-md-4" action="/exit" method="post">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Выйти</button>
		</form>
	</div>
</nav>