<% if(kpi) {%>
<h4 class="my-sm-3">Оценки ПЭД за выбранный период:</h4>
<table class="table border-color-f">
	<thead>
		<tr>
			<th scope="col" width="10%">Шифр</th>
			<th scope="col">Показатель</th>
			<th scope="col" width="15%">Оценка</th>
		</tr>
	</thead>
	<tbody>
		<% for(let u = 0; u < kpi.length; u++) {%>
			<% if(kpi[u].length != 0) {%>
				<tr>
					<td><h5><%=kpi[u][0].section[0] + "." %></h5></td>
					<td colspan="2"><h5>Раздел <%=(u+1) + ". " + kpi[u][0].section %></h5></td>
				</tr>
				<% for(let i = 0; i < kpi[u].length; i++) {%>
					<% let arr = kpi[u]; %>
					<% if(arr[i].type == 1) {%>
						<tr>
							<th scope="row"><%=arr[i].name %></th>
							<td><%=arr[i].description %></td>
							<td><big><%=arr[i].userBall[0] %></big></td>
						</tr>
					<%} %>
					<% if(arr[i].type == 2) {%>
						<tr>
							<th scope="row" rowspan=<%=(arr[i].countCriterion + 1) + "" %>><%=arr[i].name %></th>
							<td colspan="2"><%=arr[i].description %></td>
						</tr>
						<% for(let j = 0; j < arr[i].countCriterion; j++) {%>
						<tr>
							<td><%=arr[i].criterion[j].description %></td>
							<td><big><%=arr[i].userBall[j] %></big></td>
						</tr>
						<%} %>
					<%} %>
				<%} %>
			<%} %>
		<%} %>
	</tbody>
</table>
<%} %>
<% if(!kpi) {%>
	<hr>
	<h4>За выбранный период нет выполненных ПЭД</h4>
	<a href="/my-page/edit-kpi">Отметить выполнение ПЭД</a>
<%} %>