<% if(!textErr && kpi.length != 0) {%>
	<div class="table-responsive-md">
		<table class="table border-color-f table-sm mt-3">
			<thead>
			<tr>
				<th class="text-center align-middle" scope="col">Добавлено</th>
				<th class="text-center align-middle" scope="col">Выполнено</th>
				<th class="text-center align-middle" scope="col">Файл</th>
				<% if(desc[0].type == 2) {%>
					<th class="text-center align-middle" scope="col">Показатель</th>
				<%} %>
				<th class="text-center align-middle" scope="col">Статус</th>
				<th class="text-center align-middle" scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<% for(let i = 0; i < kpi.length; i++) {%>
				<tr>
					<td class="text-center align-middle"><%=kpi[i].modifydate %></td>
					<td class="text-center align-middle"><%=kpi[i].modifystart_date%></td>
					<% if(kpi[i].file != "" && kpi[i].file != null) {%>
					<td class="text-center align-middle"><a href=<%="/download-file?file="+kpi[i].file %> download=""><img src="/img/icons/download.svg" width="25" alt="Скачать файл"></a></td>
					<%} %>
					<% if(kpi[i].file == "" || kpi[i].file == null) {%>
						<td></td>
					<%} %>
					<% if(desc[0].type == 2) {%>
						<td class="text-center align-middle"><%=desc[kpi[i].number_criterion].criterion_description %></td>
					<%} %>
					<% if(!kpi[i].valid) {%>
						<td class="text-danger text-center align-middle">Недействительно</td>
					<%} %>
					<% if(kpi[i].valid) {%>
						<td class="text-success text-center align-middle">Выполнено</td>
					<%} %>
					<td class="text-center align-middle"><a href="/pps/val/<%=kpi[i].id%>">Подробнее</a></td>
				</tr>
			<%} %>
			</tbody>
		</table>
	</div>
<%} %>