<% if(textErr) {%>
	<div class="text-danger m-sm-2">Этот ПЭД недоступен для Вашей должности</div>
<%} %>
<% if(!textErr) {%>
	<div class="px-sm-3">
		<h5><%=desc[0].name %></h5>
		<h5><%=desc[0].description %></h5>
		<hr>
		<button id="plus" class="btn btn-outline-primary">+ Отметить выполнение</button>
	</div>
	<div id="plusdiv" class="px-sm-3">
		<form enctype="multipart/form-data" name="form1" action="/upload" method="post" id="formAddKpi" class="needs-validation" novalidate>
			<div class="text-danger form-group row ml-1" id="error"></div>
			<input type="hidden" name="name" id="name">
			<% if(desc[0].type == 2) {%>
				<fieldset class="form-group">
					<div class="row">
						<legend class="col-form-label col-sm-3 pt-0">Тип*</legend>
						<div class="col-sm-7">
							<% for(let j = 0; j < desc[0].count_criterion; j++) {%>
								<div class="form-check">
									<input type="radio" class="form-check-input" name="radio" id="radio<%=j%>" value="<%=j%>" required>
									<label class="form-check-label" for="radio<%=j%>">
										<%=desc[j].criterion_description %>
									</label>
									<% if (j == desc[0].count_criterion - 1) {%>
										<div class="invalid-feedback">
											Пожалуйста укажите тип
										</div>
									<%} %>
								</div>
							<%} %>
						</div>
					</div>
				</fieldset>
			<%} %>
			<div class="form-group row">
				<label for="datekpi" class="col-sm-3 col-form-label">Дата реализации (выполнения) ПЭД*</label>
				<div class="col-sm-7">
					<input type="date" class="form-control" name="date" id="datekpi" required>
					<div class="invalid-feedback">
						Пожалуйста введите дату исполнения ПЭД
					</div>
				</div>
			</div>
			<% if(!desc[0].indicator_sum) {%>
				<div class="form-group row">
					<label for="value" class="col-sm-3 col-form-label">Значение*</label>
					<div class="col-sm-7">
						<input type="number" class="form-control" min="0" max="1000" name="value" id="value" required>
						<div class="invalid-feedback">
							Пожалуйста введите значение ПЭД
						</div>
					</div>
				</div>
			<%} %>
			<% if(desc[0].indicator_sum) {%>
				<input type="hidden" name="value" value="1" id="value">
			<%} %>
			<div class="form-group row">
				<label for="link" class="col-sm-3">Ссылка</label>
				<div class="col-sm-7">
					<input type="text" name="link" class="form-control" id="link" maxlength="1024">
				</div>
			</div>
			<div class="form-group row">
				<label for="text" class="col-sm-3">Пояснительная записка</label>
				<div class="col-sm-7">
					<textarea name="text" class="form-control" id="text" maxlength="1024" rows="5"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="file" class="col-sm-3">Файл для подтверждения</label>
				<div class="col-sm-7">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="file" name="file">
						<label class="custom-file-label" id="label-file" for="file">Выберите файл...</label>
					</div>
				</div>
			</div>

			<button id="addkpi" class="btn btn-primary">Добавить показатель</button>
		</form>
		<hr>
	</div>
	<% if(kpi.length != 0) {%>
		<table class="table border-color-f table-sm mt-3">
			<thead>
				<tr>
					<th class="text-center align-middle" scope="col">Добавлено</th>
					<th class="text-center align-middle" scope="col">Выполнено</th>
					<th class="text-center align-middle" scope="col">Файл</th>
					<% if(desc[0].type == 2) {%>
						<th class="text-center align-middle" scope="col">Показатель</th>
					<%} %>
					<th class="text-center align-middle" scope="col">Статус</th>
					<th class="text-center align-middle" scope="col"></th>
				</tr>
			</thead>
			<tbody>
			<% for(let i = 0; i < kpi.length; i++) {%>
				<tr>
					<td class="text-center align-middle"><%=kpi[i].modifydate %></td>
					<td class="text-center align-middle"><%=kpi[i].modifystart_date%></td>
					<% if(kpi[i].file != "" && kpi[i].file != null) {%>
						<td class="text-center align-middle"><a href=<%="/upload-file?file="+kpi[i].file %> download=""><img src="/img/icons/download.svg" width="25" alt="Скачать файл"></a></td>
					<%} %>
					<% if(kpi[i].file == "" || kpi[i].file == null) {%>
						<td></td>
					<%} %>
					<% if(desc[0].type == 2) {%>
						<td class="text-center align-middle"><%=desc[kpi[i].number_criterion].criterion_description %></td>
					<%} %>
					<% if(!kpi[i].valid) {%>
						<td class="text-danger text-center align-middle">Недействительно</td>
					<%} %>
					<% if(kpi[i].valid) {%>
						<td class="text-success text-center align-middle">Выполнено</td>
					<%} %>
					<td class="text-center align-middle"><a href="/pps/val/<%=kpi[i].id%>">Подробнее</a></td>
				</tr>
			<%} %>
			</tbody>
		</table>
	<%} %>
<%} %>