<!DOCTYPE html>
<html>
<head>
    <title>Настройки</title>
    <%- include("../common/head.ejs")%>
</head>
<body>
    <%- include("../common/menu.ejs") %>
    <div class="wrapper">
        <div class="content container-fluid">
            <h1>Изменение пароля пользователя <%=user.name%></h1>
            <hr>
            <form id="form-edit-pass" method="POST" class="needs-validation" novalidate>
                <div class="text-danger form-group row ml-1" id="error"></div>
                <input type="hidden" name="login" value="<%=user.login%>">
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Новый пароль</label>
                    <div class="col-sm-4">
                        <input type="text" name="password" class="form-control" id="password" minlength="3" maxlength="100" required>
                        <div class="invalid-feedback">
                            Пожалуйста введите или сгенерируйте новый пароль (не менее 3 символа)
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a href="#" id="generate-pass"><img src="/img/icons/arrow-repeat.svg" alt="сгенерировать" title="сгенерировать" width="28px"></a>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary ml-3" value="Изменить">
                </div>
            </form>
        </div>
        <div class="footer">
            <%- include("../common/footer.ejs") %>
        </div>
        <%- include("../common/modal.ejs") %>
    </div>

    <%- include("../common/scripts.ejs")%>
    <script type="text/javascript" src="/scripts/check-form.js"></script>
    <script type="text/javascript" src="/scripts/generate-password.js"></script>
    <script type="text/javascript" src="/scripts/change-pps/change-password.js"></script>
</body>
</html>