<!DOCTYPE html>
<html>
<head>
	<title>Удаление ПЭДа</title>
	<%- include("../common/head.ejs")%>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<%- include("../common/menu.ejs") %>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="content container-fluid">
			<% if(action == 1) {%>
				<p class="uspeshno">Успешно</p>
			<%} %>
			<% if(action == 2) {%>
				<p class="errormess">Ошибка удаления ПЭДа</p>
			<%} %>
			<form name="deletekpi" action="" class="formborderadmin" method="post">
				<label for="name" class="text">Показатель эффективности</label>
				<select name="name"  class="text" id="name">
					<% for(let i = 0; i < kpi.length; i++) {%>
					<option><%=kpi[i].name%></option>
					<%} %>
				</select>
				<input type="submit" class="buttonmypage" name="submit" value="Удалить">
			</form>
		</div>
	</main>

	<div class="footer mt-auto py-3">
		<%- include("../common/footer.ejs") %>
	</div>

	<%- include("../common/scripts.ejs")%>

</body>
</html>