<!DOCTYPE html>
<html>
<head>
	<title>Добавление Показателя</title>
	<%- include("../common/head.ejs")%>

	<link rel="stylesheet" type="text/css" href="/css/change-kpi/add-kpi.css">
	<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.1/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.1/slick/slick-theme.css">
</head>
<body>
    <%- include("../common/menu.ejs") %>
    <div class="wrapper">
        <div class="content container-fluid">
			<h1>Добавление Показателя эффективности деятельности</h1>
			<hr>
			<form name="addkpi" action="" method="post" id="form-send" class="needs-validation" novalidate>
				<div id="infokpi">
					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Шифр</label>
						<div class="col-sm-10">
							<input type="text" name="name" class="form-control" id="name" maxlength="45" pattern="[A-Za-zА-Яа-я0-9Ёё.]+$" placeholder="например, О.Д.1" autocomplete="off" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите шифр ПЭД
                            </div>
						</div>
					</div>

					<div class="form-group row">
						<label for="inputsection" class="col-sm-2 col-form-label">Раздел</label>
						<div class="col-sm-10">
							<input name="section" list="section" class="form-control" id="inputsection" maxlength="70" pattern="[A-Za-zА-Яа-я0-9Ёё ]+$" placeholder="например, Образовательная деятельность" autocomplete="off" required>
                            <div class="invalid-feedback">
                                Пожалуйста выберите или введите новый раздел ПЭД
                            </div>
						</div>
						<datalist id="section">
							<% for(let i = 0; i < section.length; i++) {%>
							<option><%=section[i].section%></option>
							<%} %>
						</datalist>
					</div>

					<div class="form-group row">
						<label for="subtype" class="col-sm-2 col-form-label">Подраздел</label>
						<div class="col-sm-10">
							<select name="subtype" class="form-control" id="subtype" required>
								<option>Должностные</option>
								<option>Персональные</option>
								<option>-</option>
							</select>
                            <div class="invalid-feedback">
                                Пожалуйста выберите подраздел ПЭД
                            </div>
						</div>
					</div>

					<div class="form-group row">
						<label for="number" class="col-sm-2 col-form-label">Номер</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="number" id="number" placeholder="1" max="1000" min="1" autocomplete="off" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите порядковый номер ПЭД
                            </div>
						</div>
					</div>

					<div class="form-group row">
						<label for="desc" class="col-sm-2 col-form-label">Показатель (описание)</label>
						<div class="col-sm-10">
							<textarea name="desc" id="desc" class="form-control" rows="3" maxlength="500" pattern="^[А-Яа-яЁё\s.]+$" placeholder="например, Качество знаний студентов по дисциплинам" required></textarea>
                            <div class="invalid-feedback">
                                Пожалуйста введите описание ПЭД на русском языке
                            </div>
						</div>
					</div>

					<div class="form-group row">
						<label for="implementationPeriod" class="col-sm-2 col-form-label">Время действия подтверждения ПЭД (в месяцах)</label>
						<div class="col-sm-10">
							<input type="number" name="implementationPeriod" id="implementationPeriod" class="form-control" value="0" min="0" max="1000" autocomplete="off" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите время действия значения ПЭД
                            </div>
						</div>
					</div>

					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-2 pt-0">При добавлении выполненного значения:</legend>
							<div class="col-sm-10">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="indicatorssumm" id="rad1" value="false" checked required>
									<label class="form-check-label" for="rad1">
										Преподаватель должен указывать значение
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="indicatorssumm" id="rad2" value="true">
                                    <div class="invalid-feedback">
                                        Пожалуйста выберите подходящее выражение
                                    </div>
									<label class="form-check-label" for="rad2">
										Автоматически добавлять значение 1 к действующему значению
									</label>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-2 pt-0">Могут ли выполняться несколько критериев одновременно?</legend>
							<div class="col-sm-10">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="type" id="radio1" value="1" checked required>
									<label class="form-check-label" for="radio1">
										Нет
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="type" id="radio2" value="2">
                                    <div class="invalid-feedback">
                                        Пожалуйста выберите ответ на вопрос
                                    </div>
									<label class="form-check-label" for="radio2">
										Да
									</label>
								</div>
							</div>
						</div>
					</fieldset>

					<div class="form-group row">
						<label for="count" class="col-sm-2 col-form-label">Количество критериев оценки</label>
						<div class="col-sm-10">
							<select name="count" id="count" class="form-control">
								<% for(let i = 1; i <= 10; i++) {%>
								<option><%=i%></option>
								<%} %>
							</select>
                            <div class="invalid-feedback">
                                Пожалуйста выберите количество критериев оценки ПЭД
                            </div>
						</div>
					</div>
				</div>
				<div class="addcrit">
					<div id="crit0">
						<h3 id="critname">Критерий № 1</h3>

						<div class="form-group row hidden">
							<label for="description" class="col-sm-2 col-form-label">Показатель критерия</label>
							<div class="col-sm-10">
								<textarea name="description" id="description" pattern="[A-Za-zА-Яа-я0-9Ёё.]+$" class="form-control notempty"></textarea>
                                <div class="invalid-feedback">
                                    Пожалуйста введите описание критерия
                                </div>
							</div>
						</div>

						<div class="form-group row">
							<label for="namecriterion" class="col-sm-2 col-form-label">Условие критерия</label>
							<div class="col-sm-10">
								<input type="text" name="namecriterion" id="namecriterion" maxlength="250" pattern="[A-Za-zА-Яа-я0-9Ёё\s]+$" placeholder="например, Не менее 60%" class="form-control">
                                <div class="invalid-feedback">
                                    Пожалуйста введите условие критерия
                                </div>
							</div>
						</div>

						<div class="form-group row">
							<label for="typeCrit" class="col-sm-2 col-form-label">Тип условия</label>
							<div class="col-sm-10">
								<select name="typecrit" id="typeCrit" class="form-control typecriterion" required>
									<option>Да/Нет</option>
									<option>Не менее n</option>
									<option>От a до b</option>
								</select>
                                <div class="invalid-feedback">
                                    Пожалуйста выберите тип условия критерия
                                </div>
							</div>
						</div>
						<div>
							<div class="form-group row n">
								<label for="n" class="col-sm-2 col-form-label">n</label>
								<div class="col-sm-10">
									<input type="number" name="n" min="0" max="1000" class="form-control" id="n">
                                    <div class="invalid-feedback">
                                        Пожалуйста введите n (смотри тип условия)
                                    </div>
								</div>
							</div>

							<div class="form-group row a">
								<label for="a" class="col-sm-2 col-form-label">a</label>
								<div class="col-sm-10">
									<input type="number" name="a" min="0" max="1000" class="form-control" id="a">
                                    <div class="invalid-feedback">
                                        Пожалуйста введите a (начальное число условия)
                                    </div>
								</div>
							</div>

							<div class="form-group row b">
								<label for="b" class="col-sm-2 col-form-label">b</label>
								<div class="col-sm-10">
									<input type="number" name="b" min="0" max="1000" class="form-control" id="b">
                                    <div class="invalid-feedback">
                                        Пожалуйста введите b (конечное число условия)
                                    </div>
								</div>
							</div>
						</div>
						<div>
							<h4>Оценки по группам пользователей:</h4>
							<% for(let i = 0; i < positions.length; i++) {%>
								<div class="form-group row">
									<label for="<%=positions[i].position%>" class="col-sm-2 col-form-label"><%=positions[i].position%></label>
									<div class="col-sm-10">
										<input type="number" name="<%=positions[i].position%>" class="form-control" min="0" max="100" id="<%=positions[i].position%>" placeholder="0" autocomplete="off" required>
                                        <div class="invalid-feedback">
                                            Пожалуйста введите оценку для должности "<%=positions[i].position%>"
                                        </div>
									</div>
								</div>
							<%} %>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2">
                        <button type="submit" name="prev" class="btn btn-outline-info" id="prev">Предыдущий критерий</button>
                    </div>
					<div class="col-sm-2">
                        <button type="submit" name="next" class="btn btn-outline-info" id="next">Следующий критерий</button>
                    </div>
				</div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg" id="add">Добавить ПЭД</button>
                    </div>
                </div>
			</form>
		</div>

		<div class="footer">
			<%- include("../common/footer.ejs") %>
		</div>
        <%- include("../common/modal.ejs") %>
	</div>

	<%- include("../common/scripts.ejs")%>
	<script type="text/javascript" src="/plugins/slick-1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/scripts/check-form.js"></script>
    <script type="text/javascript" src="/scripts/send-form.js"></script>
	<script type="text/javascript" src="/scripts/change-kpi/add-kpi.js"></script>
</body>
</html>