<!DOCTYPE html>
<html>
<head>
	<title>Добавление прошлых значений</title>
	<%- include("../common/head.ejs")%>

	<link rel="stylesheet" type="text/css" href="/css/loader.css">
</head>
<body class="d-flex flex-column h-100">
	<header>
		<%- include("../common/menu.ejs") %>
	</header>
	<main role="main" class="flex-shrink-0">
		<div class="content container-fluid">
			<h2 class="title-page">Добавление прошлых значений показателей эффективности с Excel-файла</h2>
			<hr>
			<div class="warning">
				<p>Необходимо прикрепить Excel-файл (xls, xlsx или csv).</p>
				<p>Первая начиная со столбца <b>B</b>строка <b>должна</b> содержать названия ПЭД без точек</p>
				<p>В каждой строке файла, начиная со <b>второй</b>, должна содержаться информация о значениях ПЭД сотрудников в следующем формате:</p>
				<p>В столбце <b>A</b> указывается полное <b>ФИО</b> сотрудника</p>
				<p>В каждом последующем столбце, начиная с <b>B</b> указываются значения этого пользователя, соответствующие ПЭД в этом столбце</p>
				<p>Информация о значениях должна быть в формате, указанном в документе -
					<a href="/info.txt" download> <img src="/img/icons/download.svg" width="32" alt="Скачать файл"></a>
				</p>
				<p style="color: chocolate;">
					Внимание! Файлы пользователей помещаются в директорию user_files, ссылки на них указываются в установленном порядке в excel-файле.
				</p>
			</div>
			<p>Пример файла:</p>
			<p class="ml-md-3"><img class="border-secondary img-thumbnail" src="/img/update-with-excel/add-past-values.png" alt="ошибка"></p>
			<hr>
			<form enctype="multipart/form-data" action="" method="post" class="needs-validation m-md-3 mb-md-4" id="form-from_file" novalidate>
				<div class="form-group row">
					<div class="col-sm-10">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="option" id="option">
							<label class="form-check-label" for="option">
								Удалить все значения ПЭД всех ППС перед добавлением
							</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="file" class="col-sm-3">Excel-файл для загрузки данных</label>
					<div class="col-sm-5">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="file" name="file" required>
							<label class="custom-file-label" id="label-file" for="file">Выберите файл...</label>
							<div class="invalid-feedback">
								Пожалуйста выберите файл
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<button type="submit" id="but-file" class="btn btn-primary">Добавить</button>
					</div>
				</div>
			</form>
		</div>
	</main>

	<div class="footer mt-auto py-3">
		<%- include("../common/footer.ejs") %>
	</div>
	<%- include("../common/modal.ejs") %>

	<%- include("../common/scripts.ejs")%>
	<script type="text/javascript" src="/plugins/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
	<script type="text/javascript" src="/scripts/custom-file.js"></script>
	<script type="text/javascript" src="/scripts/update-with-excel/send-form.js"></script>
	<script type="text/javascript" src="/scripts/check-form.js"></script>
</body>
</html>