<!DOCTYPE html>
<html>
<head>
	<title>Установка периода</title>
	<%- include("common/head.ejs")%>
</head>
<body>
	<%- include("common/menu.ejs") %>
	<div class="wrapper">
		<div class="content container-fluid">
			<div class="page">
				<div class="formborderadmin">
					<h2 class="title-page">Расчетный период</h2>
					<% if(period) {%>
						<p style="margin: 1% auto;">Текущий период: с <%=period.date1 + " по " + period.date2%></p>
					<%} %>
					<% if(!period) {%>
						<p style="color: peru;">Период для отчета не установлен</p>
					<%} %>
					<hr>
					<div id="text"></div>
					<h4>Установить новый расчетный период:</h4>
					<form action="" method="post">
						<div>
							<label for="name_period">Название расчетного периода:</label>
							<input type="text" name="name_period" id="name_period" autocomplete="зима 2000" required>
						</div>
						с <input type="date" class="date" name="date1" id="date1" required>
						до <input type="date" class="date" name="date2" id="date2" required>
						<input type="submit" id="sub" class="buttonmypage" value="Установить">
					</form>
				</div>
			</div>
		</div>

		<div class="footer">
			<%- include("common/footer.ejs") %>
		</div>
	</div>

	<%- include("common/scripts.ejs")%>
	<script type="text/javascript" src="/scripts/set-period.js"></script>


</body>
</html>