<!DOCTYPE html>
<html>
<head>
	<title>История действий</title>
	<%- include("common/head.ejs")%>
</head>
<body>
	<%- include("common/menu.ejs") %>
	<div class="wrapper">
		<div class="content container-fluid">
			<form action="" method="get">
				<div class="row">
					<div class="input-group mb-3 col-sm-6">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic">История действий пользователей за</span>
						</div>
						<input type="date" class="form-control" name="date" id="date" aria-label="дата" value=<%=date%> aria-describedby="button">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="submit" id="button">Показать</button>
						</div>
					</div>
				</div>
			</form>
			<ul class="list-group" id="logs">
				<% for(let i = logs.length - 2; i >= 0; i--) {%>
					<li class="list-group-item"><%=logs[i]%></li>
				<%} %>
			</ul>

			<% if(logs.length == 1) {%>
				<p>Нет действий</p>
			<%} %>
		</div>
		
		<div class="footer">
			<%- include("./common/footer.ejs") %>
		</div>
	</div>

	<%- include("common/scripts.ejs")%>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>