<!DOCTYPE html>
<html>
<head>
	<title>Моя страница</title>
	<%- include("partials/head.ejs")%>
</head>
<body>
	<%- include("partials/menu.ejs") %>
	<div class="container-fluid px-md-5">
		<h4><div id="name"><%=name %>, <%=position %></div></h4>
		<hr>
		<% if(objPeriod.notify) {%>
			<p style="color: red; font-size: 20px;">Внимание! Расчет оценок будет производиться за период с <%=objPeriod.date1Str %> по <%=objPeriod.date2Str %></p>
		<%} %>
		<form name="date" action="/my-page" class="text" method="get">
			<label>Период расчета оценок с </label>
			<input type="date" name="date1" id="date1" class="date" value=<%=date1 %> required>
			<label> по </label>
			<input type="date" name="date2" id="date2" class="date" value=<%=date2 %> required>
			<button id="date" >Вывести оценки ПЭД за данный период</button>
		</form>
		<div id="donekpi"><%- include("partials/table_kpi.ejs") %></div>
		<br/>

		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
	</div>

	<%- include("partials/scripts.ejs")%>
</body>
</html>