<!DOCTYPE html>
<html>
<head>
	<title>Моя страница</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../general_style/list.css">
	<link rel="stylesheet" type="text/css" href="../general_style/footer.css">
	<link rel="stylesheet" type="text/css" href="../general_style/stylebut.css">
</head>
<body>
	<div class="wrapper">
		<div class="content">
			<form action="/exit" method="post">
				<button class="exitt">Выход</button>
			</form>
			<br/> 
			<h1><div id="name"><%=name %>, <%=position %></div></h1><br>
			<% if(objperiod.notify) {%>
				<p style="color: red; font-size: 20px;">Внимание! Скоро будет расчет премии за период с <%=objperiod.date1Str %> по <%=objperiod.date2Str %></p>
				<br><br>
			<%} %>
			<form class="flexparent">
			<a href="/mypage/editkpi" class="buttonmypage flexblocks" >Отметить выполнение ПЭД</a>
			<a href="/mypage/valuekpi" class="buttonmypage flexblocks">Посмотреть добавленные значения</a>
			<% if(level) {%>
				<a href="/verify" class="buttonmypage flexblocks">Проверить подтверждения ПЭДов преподавателей</a>
			<%} %>
			<br>
		</form>
			<form name="date" action="/mypage" class="text" method="get">
				<label>Период отчета с </label>
				<input type="date" name="date1" id="date1" class="date" value=<%=date1 %> required>
				<label> по </label>
				<input type="date" name="date2" id="date2" class="date" value=<%=date2 %> required>
				<button id="date" >Вывести оценки ПЭД за данный период</button>
			</form>
			<div id="donekpi"><%- include("partials/table_kpi.ejs") %></div>
			<br/>
		</div>

		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
	</div>
</body>
</html>