<!DOCTYPE html>
<html>
<head>
	<title>Значения ПЭД</title>
	<%- include("../common/head.ejs")%>
</head>
<body>
	<%- include("../common/menu.ejs") %>
	<div class="wrapper">
		<div class="content container-fluid">
			<h1>Значения ПЭД</h1>
			<% if(kpi.length != 0) {%>
				<table class="table border-color-f">
					<thead>
					<th scope="col">Дата добавления</th>
					<th scope="col">ПЭД</th>
					<th scope="col">Дата реализации</th>
					<th scope="col">Значение</th>
					<th scope="col">Файл</th>
					<th scope="col">Выбранный показатель</th>
					<th scope="col">Статус</th>
					<th scope="col"></th>
					</thead>
					<tbody>
						<% for(let i = 0; i < kpi.length; i++) {%>
							<tr>
								<td><%=kpi[i].modifydate %></td>
								<td><%=kpi[i].name_kpi %></td>
								<td><%=kpi[i].modifystart_date%></td>
								<td><%=kpi[i].value%></td>
								<% if(kpi[i].file) {%>
									<td><a href=<%="/download-file?file="+kpi[i].file %> download=""><img src="/img/icons/download.svg" alt="Скачать файл" width="25"></a></td>
								<%} %>
								<% if(!kpi[i].file) {%>
									<td></td>
								<%} %>
								<% if(kpi[i].type == 2) {%>
									<td><%=kpi[i].criterion_description %></td>
								<%} %>
								<% if(kpi[i].type != 2) {%>
									<td></td>
								<%} %>
								<% if(kpi[i].valid == 0) {%>
									<td class="text-danger">Недействительно</td>
								<%} %>
								<% if(kpi[i].valid == 1) {%>
									<td class="text-success">Выполнено</td>
								<%} %>
								<td><a href="/pps/val/<%=kpi[i].id%>">Подробнее</a></td>
							</tr>
						<%} %>
					</tbody>
				</table>
			<%} %>
			<% if(kpi.length == 0) {%>
				<hr>
				<p>Нет отмеченных значений ПЭД</p>
				<a href="/pps/add-value-kpi">Отметить выполнение ПЭД</a>
			<%} %>
		</div>
		<div class="footer">
			<%- include("../common/footer.ejs") %>
		</div>
	</div>

	<%- include("../common/scripts.ejs")%>
</body>
</html>