<!DOCTYPE html>
<html>
<head>
	<title>Настройки</title>
    <%- include("partials/head.ejs")%>
</head>
<body>
    <%- include("partials/menu.ejs") %>
	<div class="wrapper">
		<div class="content">
            <h1>Настройки</h1><hr>
            <form id="form-edit-pass" method="POST" class="needs-validation" novalidate>
                <h3>Изменение пароля</h3>
                <div class="text-danger form-group row ml-1" id="error"></div>
                <div class="form-group row">
                    <label for="password1" class="col-sm-2 col-form-label">Новый пароль</label>
                    <div class="col-sm-3">
                        <input type="password" name="password" class="form-control" id="password1" minlength="3" maxlength="100" required>
                        <div class="invalid-feedback">
                            Пожалуйста введите новый пароль (не менее 3 символа)
                        </div>
                    </div>
                    </div>
                <div class="form-group row">
                    <label for="password2" class="col-sm-2 col-form-label">Повторите пароль</label>
                    <div class="col-sm-3">
                        <input type="password" name="password2" class="form-control" id="password2" minlength="3" maxlength="100" required>
                        <div class="invalid-feedback">
                            Пожалуйста повторите пароль
                        </div>
                    </div>
                    </div>
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary ml-3" id="but-file2" value="Изменить">
                </div>
            </form>
		</div>
		<div class="footer">
			<%- include("../partials/footer.ejs") %>
		</div>
        <%- include("../partials/modal.ejs") %>
    </div>

    <%- include("partials/scripts.ejs")%>
	<script type="text/javascript" src="./check_form.js"></script>
</body>
</html>