<!DOCTYPE html>
<html>
<head>
	<title>Добавление пользователя</title>
	<%- include("../partials/head.ejs")%>
</head>
<body>
	<div class="wrapper">
		<%- include("../partials/menu.ejs") %>
		<div class="content">
			<% if(action == 1) {%>
				<p class="uspeshno">Успешно</p>
			<%} %>
			<% if(action == 2) {%>
				<p class="errormess">Ошибка добавления пользователя</p>
			<%} %>
			<%- include("partials/form_add_user.ejs") %>
		</div>
		
		<div class="footer">
			<%- include("../../partials/footer.ejs") %>
		</div>
	</div>

	<%- include("../partials/scripts.ejs")%>
	<script type="text/javascript" src="/plugins/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
	<script type="text/javascript" src="./add_user.js"></script>
</body>
</html>