<!DOCTYPE html>
<html>
<head>
	<title>Сотрудники</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/general_style/menu.css">
	<link rel="stylesheet" type="text/css" href="/general_style/list.css">
	<link rel="stylesheet" type="text/css" href="/general_style/footer.css">
	<link rel="stylesheet" type="text/css" href="/general_style/common.css">
</head>
<body>
	<div class="wrapper">
		<%- include("../partials/menu.ejs") %>
		<div class="content">
			<p> 
				<h3 class="nametable">Список пользователей</h3>
			</p>
			<table style="margin-left: 20px;">
				<tr>
					<th><h4>ФИО</h4></th>
					<th><h4>Логин</h4></th>
					<th><h4>Должность</h4></th>
					<th><h4>Факультет</h4></th>
					<th><h4>Кафедра</h4></th>
				</tr>
				<% for(let i = 0; i < users.length; i ++) {%>
					<tr>
						<td><%=users[i].name %></td>
						<td><%=users[i].login %></td>
						<td><%=users[i].position %></td>
						<td><%=users[i].faculty %></td>
						<td><%=users[i].department %></td>
					</tr>
				<%} %>
			</table>
		</div>
		
		<div class="footer">
			<%- include("../../partials/footer.ejs") %>
		</div>
	</div>

</body>
</html>