<!DOCTYPE html>
<html>
<head>
	<title>Установка периода</title>
	<%- include("../partials/head.ejs")%>
	<link rel="stylesheet" type="text/css" href="/general_style/vertical-menu.css">
</head>
<body>
	<div class="wrapper">
		<%- include("../partials/menu.ejs") %>
		<div class="content">
			<div class="page">
				<%- include("../partials/settings-menu.ejs") %>
				<div class="formborderadmin">
					<h2 class="title-page">Текущий период для отчета</h2>
					<% if(set) {%>
						<p style="margin: 1% auto;">Текущий период: с <%=period.date1Str + " по " + period.date2Str %></p>
						<% if(!period.notify) {%>
							<form action="/admin/notify" method="post">
								<input type="submit" class="buttonmypage" value="Оповестить работников">
							</form><br>
						<%} %>
						<form action="" method="post">
							<input type="submit" class="buttonmypage" value="Удалить период">
						</form>
					<%} %>
					<% if(!set) {%>
						<p style="color: peru;">Период для отчета не установлен</p>
						<div id="text"></div>
						<form action="" method="post">
							с <input type="date" class="date" name="date1" id="date1" required>
							до <input type="date" class="date" name="date2" id="date2" required>
							<input type="submit" id="sub" class="buttonmypage" value="Установить">
						</form>
					<%} %>
				</div>
			</div>
		</div>

		<div class="footer">
			<%- include("../../partials/footer.ejs") %>
		</div>
	</div>

	<%- include("../partials/scripts.ejs")%>
	<script type="text/javascript" src="./set_period.js"></script>


</body>
</html>