<!DOCTYPE html>
<html>
<head>
    <title>Проверка значений</title>
    <%- include("partials/head.ejs")%>
</head>
<body>
<%- include("../pps/partials/menu.ejs") %>
<div class="wrapper">
    <div class="content container">
        <% if(!val.valid) {%>
            <h3 class="text-danger">Данное значение уже отмечено как неверное</h3>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Проверил</th>
                    <td><%=val.author_verify%></td>
                </tr>
                <tr>
                    <th scope="row">Причина отметки о недействительности</th>
                    <td><%=val.text_verify%></td>
                </tr>
                </tbody>
            </table>
            <%if (login == val.author_verify) {%>
                <form>
                    <input type="hidden" name="id" value="<%=val.id%>">
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-secondary">Восстановить действительность значения ПЭД</button>
                        </div>
                    </div>
                </form>
            <%}%>
        <%}%>
        <h3>Просмотр значения ПЭД</h3>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Автор значения ПЭД</th>
                <td><%=val.login_user%></td>
            </tr>
            <tr>
                <th scope="row">ПЭД (шифр)</th>
                <td><%=val.name_kpi%></td>
            </tr>
            <tr>
                <th scope="row">ПЭД (полное название)</th>
                <td><%=val.description%></td>
            </tr>
            <tr>
                <th scope="row">Дата добавления</th>
                <td><%=val.modifydate%></td>
            </tr>
            <tr>
                <th scope="row">Дата исполнения</th>
                <td><%=val.modifystart_date%></td>
            </tr>
            <% if(val.type == 2) {%>
            <tr>
                <th scope="row">Тип</th>
                <td><%=val.criterion_description%></td>
            </tr>
            <%} %>
            <tr>
                <th scope="row">Значение</th>
                <td><%=val.value%></td>
            </tr>
            <tr>
                <th scope="row">Статус</th>
                <%if (val.valid) {%>
                    <td class="text-success">Выполнено</td>
                <%}%>
                <%if (!val.valid) {%>
                    <td class="text-danger">Недействительно</td>
                <%}%>
            </tr>
            <% if (val.link) {%>
            <tr>
                <th scope="row">Ссылка</th>
                <td><%=val.link%></td>
            </tr>
            <%}%>
            <% if (val.file) {%>
            <tr>
                <th scope="row">Файл</th>
                <td><a href="/upload-file?file=<%=val.file%>" download=""><img src="/img/icons/download.svg" alt="Скачать файл" width="25"></a></td>
            </tr>
            <%}%>
            <% if (val.text) {%>
            <tr>
                <th scope="row">Пояснительная записка</th>
                <td><%=val.text%></td>
            </tr>
            <%}%>
            </tbody>
        </table>
        <% if(val.valid) {%>
            <h3>Отметить данное исполнение ПЭД как неверное</h3>
            <form class="needs-validation" id="form-incorrect" novalidate>
                <input type="hidden" name="id" value="<%=val.id%>">
                <div class="form-group row">
                    <label for="comment" class="col-sm col-form-label">Причина отметки недействительности:</label>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Отметить</button>
                    </div>
                </div>
            </form>
        <%}%>
    </div>
    <div class="footer">
        <%- include("../partials/footer.ejs") %>
    </div>
</div>

<%- include("partials/scripts.ejs")%>
<script type="text/javascript" src="../plugins/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
<script type="text/javascript" src="/scripts/check_form.js"></script>
<script type="text/javascript" src="/verify/verify_val.js"></script>
</body>
</html>