<div>Добавлено <%=countAdd%> из <%=users.length%>:</div>
<div>Успешно добавлено - <span style="color:green;"><%=countAdd%></span></div>
<div>Найдено с ошибками - <span style="color:red;"><%=countError%></span></div>
<table class="table border-color-f">
    <thead>
        <tr>
            <th class="text-center" scope="col">Номер</th>
            <th class="text-center" scope="col">ФИО</th>
            <th class="text-center" scope="col">Результат</th>
            <th class="text-center" scope="col">Ошибка</th>
        </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < users.length; i ++) {%>
        <tr>
            <% if(users[i].error) {%>
                <td scope="row" style="color:red;"><%=users[i].numb %></td>
                <td style="color:red;"><%=users[i].name %></td>
                <td></td>
                <td style="color:red;"><%=users[i].error %></td>
            <%} else {%>
                <td><%=users[i].numb %></td>
                <td><%=users[i].name %></td>
                <td>Количество добавленных значений = <%=users[i].countVal %>
                 (количество ПЭД = <%=users[i].countKpi %>)</td>
                <td></td>
            <%} %>
        </tr>
    <%} %>
</table>