<% if(kpi) {%>
<table>
	<tr class="row1">
		<th rowspan="2"><h4>Шифр показателя эффективности</h4></th>
		<th rowspan="2"><h4>Показатель</h4></th>
		<th rowspan="2"><h4>Критерии оценки эффективности деятельности</h4></th>
		<th colspan="6"><h4>Группы</h4></th>
	</tr>
	<tr class="row2">
		<% for(let i = 0; i < positions.length; i++) {%>
			<th><h4><%=positions[i]%></h4></th>
		<%} %>
	</tr>
	<% for(let u = 0; u < kpi.length; u++) {%>
		<% if(kpi[u].length != 0) {%>
			<tr>
				<td><%=kpi[u][0].section[0] + "." %></td>
				<td colspan="8" class="namesection">
					<h4>Раздел <%=(u+1) + ". " + kpi[u][0].section %></h4>
				</td>
			</tr>
			<% let arr = kpi[u]; %>
			<% for(let i = 0; i < arr.length; i++) {%>
				<% if(arr[i].type == 1) {%>
					<tr>
						<td rowspan="<%=arr[i].count_criterion%>"><%=arr[i].name %></td>
						<td rowspan="<%=arr[i].count_criterion%>"><%=arr[i].description %></td>
						<% for(let j = 0; j < arr[i].lines.length; j++) {%>
							<% if(j != 0) {%>
								</tr><tr>
							<%} %>
							<td><%=arr[i].lines[j].name %></td>
							<% for(let k = 0; k < arr[i].lines[j].balls.length; k++) {%>
								<td><big><%=arr[i].lines[j].balls[k] %></big></td>
							<%} %>
						<%} %>
					</tr>
					<%} %>
					<% if(arr[i].type == 2) {%>
					<tr>
						<td rowspan="<%=(arr[i].count_criterion + 1)%>"><%=arr[i].name %></td>
						<td colspan="8"><%=arr[i].description %></td>
						</tr>
						<% for(let j = 0; j < arr[i].lines.length; j++) {%>
						<tr>
							<td><%=arr[i].lines[j].description %></td>
							<td><%=arr[i].lines[j].name %></td>
							<% for(let k = 0; k < arr[i].lines[j].balls.length; k++) {%>
								<td><big><%=arr[i].lines[j].balls[k] %></big></td>
							<%} %>
						<%} %>

					</tr>
					<%} %>
			<%} %>
		<%} %>
	<%} %>
</table>
<%} %>
<% if(!kpi) {%>
<h4>Нет Показателей эффективности деятельности</h4>
<%} %>