<!DOCTYPE html>
<html>
<head>
	<title>Добавление Показателя</title>
	<%- include("../partials/head.ejs")%>

	<link rel="stylesheet" type="text/css" href="./add_kpi.css">
	<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.1/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.1/slick/slick-theme.css">
</head>
<body>
	<div class="wrapper">
		<%- include("../partials/menu.ejs") %>
		<div class="content">
			<% if(action == 1) {%>
				<p class="uspeshno">Успешно</p>
			<%} %>
			<% if(action == 2) {%>
				<p class="errormess">Ошибка добавления</p>
			<%} %>
			<%- include("partials/form_add_kpi.ejs") %>
		</div>

		<div class="footer">
			<%- include("../../partials/footer.ejs") %>
		</div>
	</div>

	<%- include("../partials/scripts.ejs")%>
	<script type="text/javascript" src="/plugins/slick-1.8.1/slick/slick.min.js"></script>
	<script type="text/javascript" src="./add_kpi.js"></script>
</body>
</html>