<!DOCTYPE html>
<html>
<head>
	<title>Изменить оценки</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/general_style/list.css">
	<link rel="stylesheet" type="text/css" href="/general_style/menu.css">
	<link rel="stylesheet" type="text/css" href="/general_style/footer.css">
	<link rel="stylesheet" type="text/css" href="/general_style/stylebut.css">
	<link rel="stylesheet" type="text/css" href="/general_style/form.css">

</head>
<body>
	<div class="wrapper">
		<div class="content">
			<%- include("../partials/menu.ejs") %>
			<% if(!choose) {%>
				<% if(action == 1) {%>
					<p class="uspeshno">Успешно</p>
				<%} %>
				<% if(action == 2) {%>
					<p class="errormess">Ошибка изменения оценок</p>
				<%} %>
				<form name="editballs" class="formborderadmin"  action="" method="GET">
					
					<label for="name" class="text">Показатель эффективности</label>
					<select name="name" class="text" id="namekpi" id="name">
						<% for(let i = 0; i < kpi.length; i++) {%>
						<option><%=kpi[i].name%></option>
						<%} %>
					</select>
					<input type="submit" class="buttonmypage" value="Выбрать">
				</form>
			<%} %>
			<% if(choose) {%>
				<form name="editballskpi" class="formborderadmin" style="width: 95%;" action="/edit_balls_kpi" method="post">
					<input type="hidden" name="name" value=<%=name%>>
					Выбранный ПЭД: <%=description%>
					<br>
					<div id="error"></div>
					<table>
						<tr class="row1">
							<% if(type == 2) {%>
								<th rowspan="2">Показатель</th>
							<%} %>
							<th rowspan="2">Критерий оценки эффективности деятельности</th>
							<th colspan="6">Группы</th>
						</tr>
						<tr class="row2">
							<th>Декан</th>
							<th>Зав. кафедрой</th>
							<th>Профессор</th>
							<th>Доцент</th>
							<th>Ст. преподаватель</th>
							<th>Ассистент/преподаватель</th>
						</tr>
						<% for(let i = 0; i < arr.length; i++) {%>
							<input type="hidden" name="id" value="<%=arr[i].id%>">
							<tr>
								<% if(type == 2) {%>
									<td><%=arr[i].description %></td>
								<%} %>
								<td><%=arr[i].name %></td>
								<% for(let k = 0; k < arr[i].balls.length; k++) {%>
									<td><input type="number" min="0" max="1000" name="<%=positions[k]%>" style="width: 50px;" class="inp" value="<%=arr[i].balls[k]%>" required></td>
								<%} %>
							</tr>
						<%} %>
					</table>
					<input type="hidden" name="countcrit" value="<%=count_criterion%>">
					<input type="submit" class="buttonmypage" id="submit" value="Изменить">
				</form>
			<%} %>
			<br>
		</div>
		
		<div class="footer">
			<%- include("../../partials/footer.ejs") %>
		</div>
	</div>

	<script type="text/javascript" src="/plugins/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./editballs.js"></script>

</body>
</html>