<!DOCTYPE html>
<html>
<head>
	<title>Удаление ПЭДа</title>
	<%- include("../partials/head.ejs")%>
</head>
<body>
	<div class="wrapper">
		<%- include("../partials/menu.ejs") %>
		<div class="content">
			<% if(action == 1) {%>
				<p class="uspeshno">Успешно</p>
			<%} %>
			<% if(action == 2) {%>
				<p class="errormess">Ошибка удаления ПЭДа</p>
			<%} %>
			<form name="deletekpi" action="" class="formborderadmin" method="post">
				<label for="name" class="text">Показатель эффективности</label>
				<select name="name"  class="text" id="name">
					<% for(let i = 0; i < kpi.length; i++) {%>
					<option><%=kpi[i].name%></option>
					<%} %>
				</select>
				<input type="submit" class="buttonmypage" name="submit" value="Удалить">
			</form>
		</div>

		<div class="footer">
			<%- include("../../partials/footer.ejs") %>
		</div>
	</div>

	<%- include("../partials/scripts.ejs")%>

</body>
</html>